table {
  border: 3px solid black;
  border-collapse: collapse;
}

table > thead {
  border: 3px solid black;
}

table > thead > th {
  border: 3px solid black;
  padding: 10px;
}

table > tbody > tr {
    border: 3px solid black;
}

table > tbody > tr > td {
  border: 3px solid black;
  padding: 10px;
}
